<p>game-board works!</p>
<div>
  <div class="board">
    <div *ngFor="let row of gridMap | keyvalue" class="row">
      <div *ngFor="let tile of row.value | keyvalue">
        <div *ngIf="tile.value != 9" [ngClass]="'tile' + tile.value" (click)="evaluateClick(row.key,tile.key); victoryCheck()"></div>
      </div>
    </div>
    <div>{{turns}}</div>
    <form (ngSubmit) ="generateMap(); turns = 0">
    <button>Generate</button>
      <input [(ngModel)] ="dimensions" type="text" name="title" >
    </form>
    <div>Score :{{bestScore}}</div>
    <div></div>
  </div>
</div>
